@import './functions', './mixins', './gradients';

$blue-1: #003d68;
$blue-2: #005eb6;
$blue-3: #0071db;
$blue-4: #0084ff;

$green-1: #05a05d;
$green-2: #77e9b7;
$green-3: #57a0aa;
$green-4: #77e9da;
$green-5: #5782aa;

$primary-button: #ff7b00;
$primary-button-hover: #e46e00;
$secondary-button: #a0a0a0;
$secondary-button-hover: #858585;

$red-dangerous: rgb(214, 51, 51);
$red-dangerous-hover: rgb(104, 104, 104);

$gray-link: #e4e4e4;
$lightgray-link: #ffffff;

$color-primary: #005da1;
$color-edit: rgb(255, 193, 79);
$white: #fff;
